
<template>
  <validation-provider
    ref="createCountryForm"
    :vid="vid"
    :name="name"
    :rules="rules"
  >
    <b-form-group
      id="País"
      slot-scope="{ valid, errors }"
      label-for="form.country_id"
      v-bind="$attrs"
    >
      <b-form-select
        id="form.country_id"
        v-model="selected"
        :options="countries"
        value-field="id"
        text-field="name"
        v-bind="$attrs"
        :state="errors[0] ? false : (valid ? true : null)"
        @change="$emit('input', $event)"
      >
        <!-- <template v-slot:first>
          <b-form-select-option
            :value="null"
            disabled
          >
            -- Please select an option --
          </b-form-select-option>
        </template> -->
        <!-- <slot /> -->
      </b-form-select>
      <b-form-invalid-feedback id="inputLiveFeedback">
        {{ errors[0] }}
      </b-form-invalid-feedback>
    </b-form-group>
  </validation-provider>
</template>


<script>
import { select } from '../../requests/Country';

export default {
  name: 'SelectCountry',
  props: {
    vid: {
      type: String,
      default: null,
    },
    name: {
      type: String,
      default: null,
    },
    rules: {
      type: [Object, String],
      default: null,
    },
    value: {
      type: Number,
      default: null,
    },
  },
  data: () => ({
    selected: null,
    countries: [],
  }),
  watch: {
    value(newVal) {
      this.selected = newVal;
    },
  },
  created() {
    this.selectCountries();
  },
  methods: {
    async selectCountries() {
      this.countries = await select();
    },
  },
};
</script>
