<template>
  <div
    class="app flex-row align-items-center base-bg"
  >
    <div class="container">
      <b-row class="justify-content-center">
        <b-col
          md="6"
          sm="8"
        >
          <b-card
            no-body
            class="mx-4"
          >
            <b-card-body class="p-4">
              <b-form>
                <h1>Tu cuenta ha sido confirmada</h1>
                <p class="text-muted">
                  Cuenta confirmada
                </p>


                <b-button
                  variant="success"
                  block
                >
                  Log in
                </b-button>
              </b-form>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { confirmEmail, logout } from '../../requests/Auth';

export default {
  name: 'Confirmation',
  data: () => ({
    form: {
      id: null,
      token: null,
    },
  }),
  async created() {
    await this.confirmation(this.$route.query.id, this.$route.query.token);
  },
  methods: {
    ...mapActions('auth', ['authenticate', 'logout']),
    async confirmation(id, token) {
      if (token) {
        this.authenticate({
          access_token: token,
        });
        const user = await confirmEmail(id);
        if (user) {
          await logout();
          this.logout();
        }


        // const user = await confirmEmail(id);
        // if (user) {
        //   store.state.auth.user = user;
        //   this.$router.push('/dashboard');
        // }
      }
    },

  },
};
</script>
