<template>
  <div
    class="app flex-row align-items-center base-bg"
  >
    <div class="container">
      <div>
        <b-alert
          show
          variant="info"
        >
          <h4 class="alert-heading">
            Bien hecho!
          </h4>
          <p>
            Tu cuenta ha sido creada exitosamente. Se ha enviado un correo de confirmación, por favor
            ingresa a tu correo y confirma tu cuenta para activarla y poder hacer uso de mega insumos.
          </p>
          <hr>
          <p class="mb-0">
            Si no has recibido el correo, por favor haz click en el botón para enviarte un nuevo link.
          </p>
          <b-row>
            <b-col>
              <b-button
                class="mt-2"
                variant="primary"
              >
                Enviar correo
              </b-button>
            </b-col>
          </b-row>
        </b-alert>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { confirmEmail, logout } from '../../requests/Auth';

export default {
  name: 'Confirmation',
  data: () => ({
    form: {
      id: null,
      token: null,
    },
  }),
  async created() {
    await this.confirmation(this.$route.query.id, this.$route.query.token);
  },
  methods: {
    ...mapActions('auth', ['authenticate', 'logout']),
    async confirmation(id, token) {
      if (token) {
        this.authenticate({
          access_token: token,
        });
        const user = await confirmEmail(id);
        if (user) {
          await logout();
          this.logout();
        }


        // const user = await confirmEmail(id);
        // if (user) {
        //   store.state.auth.user = user;
        //   this.$router.push('/dashboard');
        // }
      }
    },

  },
};
</script>
