<template>
  <div
    class="app flex-row align-items-center base-bg"
  >
    <div class="container">
      <b-row class="justify-content-center">
        <b-col
          md="6"
          sm="8"
        >
          <b-card
            no-body
            class="mx-4"
          >
            <b-card-body class="p-4">
              <validation-observer ref="registerForm">
                <b-form
                  slot-scope="{ validate }"
                  @submit.prevent="validate().then(submitForm)"
                >
                  <h1>Regístrate</h1>
                  <p class="text-muted">
                    Crea tu cuenta
                  </p>
                  <validation-provider
                    rules="required"
                    name="nombre"
                  >
                    <b-input-group
                      slot-scope="{ valid, errors}"
                      class="mb-3"
                    >
                      <b-form-input
                        v-model="form.name"
                        type="text"
                        class="form-control"
                        :state="errors[0] ? false : (valid ? true : null)"
                        placeholder="Nombre"
                      />
                      <b-form-invalid-feedback id="inputLiveFeedback">
                        {{ errors[0] }}
                      </b-form-invalid-feedback>
                    </b-input-group>
                  </validation-provider>

                  <select-country
                    v-model="form.country_id"
                    :rules="'required'"
                    :vid="'country'"
                    :name="'país'"
                  />

                  <validation-provider
                    rules="required"
                    name="teléfono"
                  >
                    <b-input-group
                      slot-scope="{ valid, errors}"
                      class="mb-3"
                    >
                      <b-form-input
                        v-model="form.phone"
                        type="number"
                        class="form-control"
                        :state="errors[0] ? false : (valid ? true : null)"
                        placeholder="Teléfono"
                      />
                      <b-form-invalid-feedback id="inputLiveFeedback">
                        {{ errors[0] }}
                      </b-form-invalid-feedback>
                    </b-input-group>
                  </validation-provider>

                  <validation-provider
                    rules="required|email"
                    name="correo"
                  >
                    <b-input-group
                      slot-scope="{ valid, errors }"
                      class="mb-3"
                    >
                      <b-form-input
                        v-model="form.email"
                        type="email"
                        :state="errors[0] ? false : (valid ? true : null)"
                        placeholder="Correo"
                      />
                      <b-form-invalid-feedback id="inputLiveFeedback">
                        {{ errors[0] }}
                      </b-form-invalid-feedback>
                    </b-input-group>
                  </validation-provider>

                  <validation-provider
                    rules="required"
                    name="contraseña"
                    vid="password"
                  >
                    <b-input-group
                      slot-scope="{ valid, errors }"
                      class="mb-3"
                    >
                      <b-form-input
                        v-model="form.password"
                        type="password"
                        :state="errors[0] ? false : (valid ? true : null)"
                        placeholder="Contraseña"
                      />
                      <b-form-invalid-feedback id="inputLiveFeedback">
                        {{ errors[0] }}
                      </b-form-invalid-feedback>
                    </b-input-group>
                  </validation-provider>

                  <validation-provider
                    rules="required|confirmed:password"
                    name="confirmar contraseña"
                  >
                    <b-input-group
                      slot-scope="{ valid, errors }"
                      class="mb-3"
                    >
                      <b-form-input
                        v-model="passwordConfirmation"
                        type="password"
                        :state="errors[0] ? false : (valid ? true : null)"
                        placeholder="Confirmar contraseña"
                      />
                      <b-form-invalid-feedback id="inputLiveFeedback">
                        {{ errors[0] }}
                      </b-form-invalid-feedback>
                    </b-input-group>
                  </validation-provider>

                  <b-form-checkbox
                    id="checkbox-1"
                    v-model="status"
                    class="mb-3"
                    name="checkbox-1"
                    :value="true"
                    :unchecked-value="false"
                  >
                    Acepto los términos y condiciones
                  </b-form-checkbox>

                  <b-button
                    type="submit"
                    variant="success"
                    block
                  >
                    Crear cuenta
                  </b-button>
                </b-form>
              </validation-observer>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import SelectCountry from '../../components/country/Select.vue';
import { store } from '../../requests/User';

export default {
  name: 'Register',
  components: {
    SelectCountry,
  },
  data: () => ({
    passwordConfirmation: null,
    status: false,
    form: {
      name: null,
      country_id: null,
      phone: null,
      // gender: null,
      email: null,
      password: null,
    },
    selected: '',
    options: [
      { text: 'M', value: 'm' },
      { text: 'F', value: 'f' },
    ],
  }),
  watch: {
    selected(newVal) {
      this.form.gender = newVal;
    },
  },
  methods: {
    async submitForm() {
      try {
        const isValid = await this.$validator.validateAll();
        if (isValid) {
          const user = await store(this.form);
          if (user) {
            this.$router.push({ name: 'RegistrationDone' });
          }
        }
      } catch (error) {
        this.loading = false;
        console.error(error);
      }
    },
  },
};
</script>
