<template>
  <div
    class="app flex-row align-items-center base-bg"
  >
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card
              no-body
              class="p-4"
            >
              <b-card-body>
                <validation-observer ref="loginForm">
                  <b-form
                    slot-scope="{ validate }"
                    @submit.prevent="validate().then(login)"
                  >
                    <h1>Reestablecer contraseña</h1>
                    <p class="text-muted">
                      Si has olvidado tu contraseña puedes reestablecerla aquí
                    </p>

                    <validation-provider
                      rules="required|email"
                      name="correo"
                    >
                      <b-input-group
                        slot-scope="{ valid, errors }"
                        class="mb-3"
                      >
                        <b-input-group-prepend>
                          <b-input-group-text>
                            <i class="icon-user" />
                          </b-input-group-text>
                        </b-input-group-prepend>
                        <b-form-input
                          v-model="form.email"
                          type="email"
                          :state="errors[0] ? false : (valid ? true : null)"
                          placeholder="Correo"
                        />
                        <b-form-invalid-feedback id="inputLiveFeedback">
                          {{ errors[0] }}
                        </b-form-invalid-feedback>
                      </b-input-group>
                    </validation-provider>
                    <b-row>
                      <b-col cols="4">
                        <b-button
                          type="submit"
                          variant="primary"
                          class="px-4"
                        >
                          Enviar mi contraseña
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-form>
                </validation-observer>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { login } from '../../requests/Auth';

export default {
  name: 'ResetPassword',
  data: () => ({
    form: {
      email: null,
    },
  }),
  methods: {
    ...mapActions('auth', ['authenticate']),

    async login() {
      console.log('login executed');
      try {
        // const isValid = await this.$validator.validateAll();
        // if (isValid) {
        const data = await login(this.form);
        this.authenticate({
          access_token: data.access_token,
          user: data.user,
        });
        // }
      } catch (exception) {
        console.error(exception);
      }
    },
  },
};
</script>
